body {
   	background: linear-gradient(to right, #b3d1ff, #0066ff, #b3d1ff);
}
h1{
	font-family: Tahoma, Geneva, san-serif;
	color: black;
	text-align: center;
}
.stylebuttons{
	color: #FFFFFF;
	background-color: blue;
	font-size: 20px; 
	font-family: Arial, Helvetia, sans-seri;
	padding: 20px;
	border-radius: 60px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	cursor: pointer;
}
.stylebuttons:hover{
	color:white;
	background-color: green;
}
.stylebuttonsOff{
	color: #FFFFFF;
	background-color: grey;
	font-size: 20px; 
	font-family: Arial, Helvetia, sans-seri;
	padding: 20px;
	border-radius: 60px;
}
.letusbutton{
	color: #FFFFFF;
	background-color: blue;
	font-size: 20px; 
	font-family: Arial, Helvetia, sans-seri;
	padding: 20px;
	border-radius: 60px;
	cursor: pointer;
}
.letusbutton:hover{
	color:white;
	background-color: green;
}

.homeblock{
	margin-left: 375px;	
}
.paymentBlock{
	margin-left: 300px;
	text-align: left;	
}
.home{
	text-align: center;
}
.total{
	margin-left: 300px;
	text-align: left;
}
.carrousel{
	padding: 45px;
	background-color: #66a3ff;
	border: 3px solid black;	
}
/*for movie selector*/
.sideBar{
	float: left;
	clear: right;
	width: 250px;
	background-color: #54a2ec;
	border: 3px solid black;
	text-align: center;
}
/*for side bar box*/
.movieBox{
	margin: 12px;
	border: 3px solid black;
	padding: 1px;
	width: 200px;
}
/*for movie selector*/
.allMovies{
	margin-left: 300px;
	text-align: left;
}
.posterBox{
	font-size: 20px;
	float: left;
	border: 3px solid black;
	padding: 1px;
	width: 250px;
	margin: 5px;
}

/*Let Us Pick Movie Poster */
 .lupmovie{
 border-radius: 20px;
 border:5px solid #3c2daf;
 }
 
 /*Let us Pick Details*/
 .lupdetails{
 	font-size: 25px; 
 	font-weight: bold;
 	font-family: Arial, Helvetia, sans-seri;
 	padding: 20px;
 }

.timeButton{
	color: #FFFFFF;
	background-color: grey;
	font-size: 17px; 
	font-family: Arial, Helvetia, sans-seri;
	padding: 7px;
	border: 2px solid black;
	cursor: default;
	margin: 1px;

	
}
.timeButtonOn{
	color: #FFFFFF;
	background-color: blue;
	font-size: 17px; 
	font-family: Arial, Helvetia, sans-seri;
	padding: 7px;
	border: 2px solid black;
	cursor: pointer;
	margin: 1px;
}
/*for movie selector*/
#m1, #m2, #m3{ 
cursor: pointer;
padding-left: 20px;
}
#seatselector{
	position: absolute;
	left: 50px;
	top: 450px;
}



/* Style The Dropdown Button */
.dropbtn {
    background-color: #FF0000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* time selector movie section*/
.timeMovies{
margin-left: 20%;
}







