body {
   	background-color: #9999ff;
}
h1{
	font-family: Tahoma, Geneva, san-serif;
	color: #FF0000;
}
.stylebuttons{
	color: #FFFFFF;
	background-color: blue;
	font-size: 20px; 
	font-family: Arial, Helvetia, sans-seri;
	padding: 20px;
	border-radius: 60px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	cursor: pointer;
}
.stylebuttons:hover{
	color:white;
	background-color: green;
}
.letusbutton{
	color: #FFFFFF;
	background-color: #FF0000;
	font-size: 20px; 
	font-family: Arial, Helvetia, sans-seri;
	padding: 20px;
	border-radius: 60px;
	cursor: pointer;
}
.letusbutton:hover{
	color:white;
	background-color: green;
}

.homeblock{
	text-align: center;
	padding:40px;
	
}
.carrousel{
	padding: 45px;
	background-color: #66a3ff;
	border: 3px solid black;	
}
/*for movie selector*/
.sideBar{
	float: left;
	clear: right;
	width: 250px;
	background-color: #66a3ff;
	border: 3px solid black;
	text-align: center;
}
/*for side bar box*/
.movieBox{
	margin: 12px;
	border: 3px solid black;
	padding: 1px;
	width: 200px;
}
/*for movie selector*/
.allMovies{
	margin-left: 300px;
	text-align: left;
}
.posterBox{
	font-size: 20px;
	float: left;
	border: 3px solid black;
	padding: 1px;
	width: 250px;
	margin: 5px;
	

}
.timeButton{
	color: #FFFFFF;
	background-color: grey;
	font-size: 17px; 
	font-family: Arial, Helvetia, sans-seri;
	padding: 7px;
	border: 2px solid black;
	cursor: default;
	margin: 1px;

	
}
.timeButtonOn{
	color: #FFFFFF;
	background-color: blue;
	font-size: 17px; 
	font-family: Arial, Helvetia, sans-seri;
	padding: 7px;
	border: 2px solid black;
	cursor: pointer;
	margin: 1px;
}
/*for movie selector*/
#m1, #m2, #m3{ 
cursor: pointer;
padding-left: 20px;
}
#seatselector{
	position: absolute;
	left: 50px;
	top: 450px;
}




